body{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
  	background-attachment: fixed;
   	background-position: center;
   	background-size: cover;
   	background-color: #ededed;

}

header{
	position: fixed;
	background: #A20C0E;
	padding: 20px;
	width: calc(100% - 0%);
	top: 0;
	height: 30px;
}

.leftArea img{
	margin: 0;
	padding-left: 30px;
	width: 11%;
}

.sideBar{
	z-index: 1;
	top: 0;
	background: white;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: calc(100% - 9%);
	transition: 0.4s;
	transition-property: left;
	overflow-y: auto;
}

.userInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sideBar .userInfo .userIcon{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
}

.sideBar .userInfo h4{
	color: gray;
	margin-top: 0;
	margin-bottom: 20px;
}

.sideBar a{
	color: black;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}


.sideBar a:hover{
	background: #A20C0E;
	color: white;
}

.sideBar i{
	padding-right: 10px;
}

.sideBar .drop{
	padding-right: 100px;
	line-height: 60px;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: black;
	display: block;
	border: none;
	background: none;
	width:100%;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	transition-property: background;
}

.sideBar .drop:hover {
	background: #A20C0E;
	color: white;
}

.sideBar .drop.active{
    background-color: #A20C0E;
    color: white;
}

.dropContainer {
	display: none;
	background: none;
	margin-left: 50px;
}

.sideBar .rcord{
   background: #A20C0E;
   color: white;
}
label #menuBtn{
	z-index: 1;
	color: black;
	position: fixed;
	cursor: pointer;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #menuBtn:hover{
	color: white;
}

#check:checked ~.sideBar {
	left: -185px;
}

#check:checked ~.sideBar a span{
	display: none;
}

#check:checked ~.sideBar a{
	font-size: 20px;
	margin-left: 165px;
	width: 100%;
}

#check:checked ~.sideBar .drop{
	padding-left: 205px;
}

#check:checked ~.sideBar .drop span{
	display: none;
}

#check{
	display: none;
}

.content{
	width: (100% - 250px);
	margin-top: 60px;
	padding: 20px;
	margin-left: 250px;
	transition: 0.5s;
}

#check:checked ~.content{
	margin-left: 60px;
}

#check:checked ~ .sideBar .userInfo{
	display: none;
}

.active {
	background-color: #A20C0E;
	color: white;
}

/* CONTENT AREA */
h1 {
	font-weight: 400;
	line-height: 28px;
}

.search{
	display: inline-block;
	margin-left: 43px;
}

.search-btn{
	margin-left: 25px;
    padding: 10px 30px;
    background-color: #8a080a;
    color: white;
    border: none;
    cursor: pointer;
	font-weight: bold;
}

.records-table {
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}
  
.records-table thead tr {
    background-color: #A20C0E;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.records-table th, .records-table td {
    padding: 12px 70px;
}
  
.records-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#select-category{
	width: 200px;
	padding: 8px 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: none;
}

.record-block{
	margin-left: 55px;
	margin-top: 25px;
	background-color: #ffffff;
	width: 90%;
	height: 50vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}