body{
    background-image: url(pics/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.logo{
      position:absolute;
      top: 17px;
      left: 25px;
      z-index: 1;
      width: 7%;
}


.faculty{
    background-color: transparent;
    float: left;
    margin: 50px 10px 15px 80px;
}


.right{
    background-color: transparent;
    float: right;
    margin-right: 175px;
    margin-top: 235px;
    line-height: 0.5;
}

.right h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.right h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.loginBtn{
    margin-left: 120px;
    margin-top: 10px;
    padding: 10px 30px;
    color: white;
    background-color: #A20C0E;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

.loginBtn:hover{
    background-color: white;
    color: black;
}

/*MODAL*/
.LoginButton{
    margin: 5px 0px 0px 48px;
    padding: .2rem 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3.69px;
  
  }

button:hover {
    opacity: 0.69;
  }
  
  /* The Modal (background) */
#modalbg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.69); /* Black w/ opacity */
  }
/*Modal back*/
.modal-back {
    padding: 30px 40px;
    background-color: white;
    color: white;
    border-radius: 40px;
}
/*Modal Body*/
.modal-body {
    padding: 40px 50px;
    background-color: #A20C0E;
    border-radius: 40px;
}

.modal-body h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  
/* Modal Content*/
.modal-content {
    position: relative;
    margin: 15% auto; /* 15% from the top and centered */
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 3.69px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/*Animation */
@keyframes animatetop {
    from {top: 300px; opacity: 0}
    to {top: 0; opacity: 1}
}
#logo1 {
      width: 35%;
}
  
/* The Close Button */
.closebtn {
    position: absolute;
    left: 280px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}
.closebtn:hover {
      color:white;
}
  